@model NetSystem.Entity.Machinery

@{
    ViewData["Title"] = "جدید";
}

<h2>جدید</h2>

<h4>تجهیزات و ماشین آلات</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CodeID_FK" class="control-label"></label>
                <select asp-for="CodeID_FK" class="form-control" asp-items="ViewBag.CodeID_FK"></select>
            </div>
            <div class="form-group">
                <label asp-for="MachineryTitle" class="control-label"></label>
                <input asp-for="MachineryTitle" class="form-control" />
                <span asp-validation-for="MachineryTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @Html.DisplayNameFor(model => model.IsActive) &nbsp;
                    <input class="form-check-input" asp-for="IsActive" />
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @Html.DisplayNameFor(model => model.IsDelete) &nbsp;
                    <input class="form-check-input" asp-for="IsDelete" />
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">بازگشت</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
