@model NetSystem.ViewModels.RequestRepairViewModel

@{
    ViewData["Title"] = "جدید";
}

<h2>جدید</h2>

<h4>درخواست تعمیرات</h4>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="RequestDataTime" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text cursor-pointer" id="date1">انتخاب</span>
                    </div>
                    <input type="text" id="RequestDate" asp-for="RequestDataTime" class="form-control" aria-label="date1" aria-describedby="date1" />
                    <input type="hidden" id="RequestDateMiladi" asp-for="RequestDataTimeMiladi" class="form-control" aria-label="date1" aria-describedby="date1" />
                </div>
                <span asp-validation-for="RequestDataTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineryID_FK" class="control-label"></label>
                <select asp-for="MachineryID_FK" class="form-control" asp-items="ViewBag.MachineryID_FK"></select>
            </div>
            <div class="form-group">
                <label asp-for="TypeofRepairID_FK" class="control-label"></label>
                <select asp-for="TypeofRepairID_FK" class="form-control" asp-items="ViewBag.TypeofRepairID_FK"></select>
            </div>
            <div class="form-group">
                <label asp-for="ApplicantID_FK" class="control-label"></label>
                <select asp-for="ApplicantID_FK" class="form-control" asp-items="ViewBag.ApplicantID_FK"></select>
            </div>
        </div>
        <div class="col-md-8">

            <div class="form-group">
                <label asp-for="RequestTitle" class="control-label"></label>
                <textarea rows="4" asp-for="RequestTitle" class="form-control"></textarea>
                <span asp-validation-for="RequestTitle" class="text-danger"></span>
            </div>
            <div class="form-group float-left">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">بازگشت</a>
            </div>
        </div>
    </div>

</form>



@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $('#date1').MdPersianDateTimePicker({
        targetTextSelector: '#RequestDate',
        targetTextSelector: '#RequestDateMiladi',
        dateFormat: 'yyyy-MM-dd hh:mm:ss',
        disableAfterToday: true,
        enableTimePicker: true,
    });
    $('#date1').MdPersianDateTimePicker({        
        targetTextSelector: '#RequestDateMiladi',
        dateFormat: 'yyyy-MM-dd hh:mm:ss',
        isGregorian = true,
        disableAfterToday: true,
        enableTimePicker: true,
    });
</script>
}
