@model NetSystem.ViewModels.RequestRepair.RequestRepairDeleteViewModel

@{
    ViewData["Title"] = "حذف";
}

<h2 class="text text-danger">حذف درخواست تعمیر</h2>
<h4>آیا شما می خواهید درخواست تعمیر زیر را حذف کنید؟</h4>
<hr />
<form asp-action="Delete" asp-controller="RequestRepairs" method="post">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
                <label asp-for="ID" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input type="text" asp-for="ID" class="form-control" readonly="readonly" />
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="ApplicantUser" class="col-sm-4 control-label"></label>
                <div class="col-sm-8">
                    <input type="text" asp-for="ApplicantUser" class="form-control" readonly="readonly" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 control-label" asp-for="RegisteredDataTime"></label>
                <div class="col-sm-8">
                    <input class="form-control" readonly="readonly" asp-for="RegisteredDataTime" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 control-label" asp-for="RequestDataTime"></label>
                <div class="col-sm-8">
                    <input class="form-control" readonly="readonly" asp-for="RequestDataTime" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 control-label" asp-for="MachineryCode"></label>
                <div class="col-sm-8">
                    <input class="form-control" readonly="readonly" asp-for="MachineryCode" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 control-label" asp-for="MachineryTitel"></label>
                <div class="col-sm-8">
                    <input class="form-control" readonly="readonly" asp-for="MachineryTitel" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group row">
                <label class="col-sm-4 control-label" asp-for="TypeofRepairList"></label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="TypeofRepairList" readonly="readonly" ></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 control-label" asp-for="ApplicantList"></label>
                <div class="col-sm-8">
                    <input asp-for="ApplicantList" class="form-control" readonly="readonly"></input>
                </div>
            </div>
            <hr />
            <div class="form-group ">
                <label class="control-label" asp-for="RequestTitle"></label>
                <textarea rows="6" asp-for="RequestTitle" class="form-control" readonly="readonly"></textarea>
            </div>
        </div>
    </div>

    <div class="form-group float-left">
        <a class="btn btn-info" asp-action="Details" asp-route-id="@Model.ID">ویرایش</a>    
        <input type="submit" value="حذف" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-action="Index">بازگشت</a>

    </div>
</form>

