@model NetSystem.ViewModels.RequestRepair.RequestReapirDetailsViewModel

@{
    ViewData["Title"] = "جزئیات";
}

<h4>جزئیات و ویرایش</h4>
<hr />
<form asp-action="Details" asp-controller="RequestRepairs" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">

        <div class="col-sm-6">
            <div class="form-group row">
                <label asp-for="ID" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input type="text" asp-for="ID" class="form-control" readonly="readonly" />
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="ApplicantUser" class="col-sm-4 control-label"></label>
                <div class="col-sm-8">
                    <input type="text" asp-for="ApplicantUser" class="form-control" readonly="readonly" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 control-label" asp-for="RegisteredDataTime"></label>
                <div class="col-sm-8">
                    <input class="form-control" readonly="readonly" asp-for="RegisteredDataTime" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 control-label" asp-for="RequestDataTime"></label>
                <div class="col-sm-8">
                    <input class="form-control" readonly="readonly" asp-for="RequestDataTime" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 control-label" asp-for="MachineryCode"></label>
                <div class="col-sm-8">
                    <input class="form-control" readonly="readonly" asp-for="MachineryCode" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 control-label" asp-for="MachineryTitel"></label>
                <div class="col-sm-8">
                    <input class="form-control" readonly="readonly" asp-for="MachineryTitel" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group row">
                <label class="col-sm-4 control-label" asp-for="TypeofRepairList"></label>
                <div class="col-sm-8">
                    <select class="form-control" asp-for="TypeofRepairList" asp-items="ViewBag.TypeofRepairList"></select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 control-label" asp-for="ApplicantList"></label>
                <div class="col-sm-8">
                    <select asp-for="ApplicantList" class="form-control" asp-items="ViewBag.ApplicantList"></select>
                </div>
            </div>
            <hr />
            <div class="form-group ">
                <label class="control-label" asp-for="RequestTitle"></label>
                <textarea rows="6" asp-for="RequestTitle" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group float-left">
        <input type="submit" value="ذخیره" class="btn btn-primary" />
        <a class="btn btn-secondary" asp-action="Index">بازگشت</a>
    </div>
</form>