@{
	ViewData["Title"] = "صفحه اصلی";
}



<div class="jumbotron">
	<div class="container">
		<h3 class="display-4">سامانه نگهداری و تعمیرات </h3>
		<p>مدیریت و یکپارچه سازی نگهداری و تعمیرات </p>
		<a class="btn btn-primary" href="#" role="button">مطالب بیشتر</a>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">
			<h2>تعمیرگاه</h2>
			<p>درخواست تعمیرات و درخواست ساخت وتجهیز، همچنین گزارشات مربوط به این فرآیند </p>
			<p><a class="btn btn-secondary" href="#" role="button">درخواست جدید</a></p>
		</div>
		<div class="col-md-4">
			<h2>ماشین آلات</h2>
			<p>مدیریت دارائی فیزیکی و کلیه تجهیزات و کدگذاری براساس قواعد کدینگ</p>
			<p><a class="btn btn-secondary" href="#" role="button">فهرست اصلی</a></p>
		</div>
		<div class="col-md-4">
			<h2>مدارک فنی</h2>
			<p>محل نگهداری و آرشیو فرم های سازمانی و شناسنامه تجهیزات و کلیه مدارک فنی مربو به دستگاه ها</p>
			<p><a class="btn btn-secondary" href="#" role="button">فهرست اصلی</a></p>
		</div>
	</div>

	<hr>

</div> <!-- /container -->
	
