@{
    ViewData["Title"] = "About";
}


<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <form>
            <div class="form-group">
                <label class="control-label">Country</label>
                <select id="ddlCompany" class="form-control" asp-items="ViewBag.CompanyID_FK"></select>
            </div>
            <div class="form-group">
                <label class="control-label">State</label>
                <select id="ddlGroup" class="form-control" asp-items="@(new SelectList(string.Empty, "Value", "Text"))"></select>
            </div>
            <div class="form-group">
                <label class="control-label">City</label>
                <select id="ddlSubGroup" class="form-control" asp-items="@(new SelectList(string.Empty, "Value", "Text"))"></select>
            </div>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>


@section Scripts
{
    @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
    <script>
        $(function () {
            $("#ddlCompany").change(function () {
                $.getJSON("/Codings/GetGroup", { gid: $("#ddlCompany").val() }, function (d) {
                    var row = "";
                    $("#ddlGroup").empty();
                    $.each(d, function (i, v) {
                        row += "<option value=" + v.value + ">" + v.text + "</option>";
                    });
                    $("#ddlGroup").html(row);
                })
            })
            $("#ddlGroup").change(function () {
                $.getJSON("/Codings/GetSubGroup", { sid: $("#ddlGroup").val() }, function (d) {
                    var row = "";
                    $("#ddlSubGroup").empty();
                    $.each(d, function (i, v) {
                        row += "<option value=" + v.value + ">" + v.text + "</option>";
                    });
                    $("#ddlSubGroup").html(row);
                })
            })
        })
    </script>
}