<h1>Cascading Dropdown List of Country, State and City</h1>
<hr />
<br />
<div class="row">
    <div class="col-lg-3"></div>
    <form id="myForm">
        <label for="CountryDropdown"><b>Departments</b></label>
        <select class="form-control" id="CountryDropdown"
                name="CountryDropdown"></select>
    </form>
</div>


@section Scripts{
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Codings/GetCountry",
            data: "{}",
            success: function (data) {
                var s = '<option value="-1">Please Select a Country</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].ID + '">' + data[i].CompanyTiltle + '</option>';
                }
                $("#CountryDropdown").html(s);
            }
        });
    });
</script>
 }