<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - نت یار</title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/sticky-footer-navbar.css" rel="stylesheet">
    <link href="~/fonts/sahel/sahel.css" rel="stylesheet">



    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
</head>
<body class="d-flex flex-column h-100">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">نت یار</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">صفحه اصلی</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">زیرساخت</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white" href="#" id="dropdownInfra" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">مدارک فنی</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownInfra">
                            <a class="dropdown-item" href="#">نوع فرم</a>
                            <a class="dropdown-item" href="#">ثبت فرم</a>
                            <a class="dropdown-item" href="#">آرشیو فرم</a>
                            <a class="dropdown-item" href="#">شناسنامه تجهیزات</a>
                            <a class="dropdown-item" href="#">آرشیو مدارک تجهیزات</a>
                            <a class="dropdown-item" href="#">آرشیو فرم</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white" href="#" id="dropdownCoding" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">ماشین آلات</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownCoding">
                            <a class="dropdown-item" href="#">گروه ها و شرکت ها</a>
                            <a class="dropdown-item" href="#">گروه های اصلی</a>
                            <a class="dropdown-item" href="#">گروه فرعی </a>
                            <a class="dropdown-item" href="#">کدگذاری تجهیزات</a>
                            <a class="dropdown-item" href="#">لیست تجهیزات</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white" href="#" id="dropdownRequest" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">تعمیرات</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownRequest">
                            <a class="dropdown-item" href="#">درخواست تعمیر</a>
                            <a class="dropdown-item" href="#">لیست درخواست ها</a>
                            <a class="dropdown-item" href="#">گزارش تعمیر</a>
                            <a class="dropdown-item" href="#">تعمیر خارج ازشرکت</a>
                            <a class="dropdown-item" href="#">گزارش تعمیر خارج ازشرکت</a>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#" tabindex="-1" aria-disabled="true">درباره ما</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="جستجو" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">جستجو</button>
                </form>
            </div>
        </nav>
    </header>
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <br />
            @RenderBody()
        </div>
    </main>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span>گروه صنعتی معدنی زرین - 1400</span>
        </div>
    </footer>

    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.4.3.1.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
